body {
  background: #fff;
}

.main {
  display: flex;
  min-height: 100vh;

  svg {
    height: 100px;
    width: auto;
    max-width: 100%;
  }
}

/** 
 * SPDX-License-Identifier: (EUPL-1.2)
 * Copyright © 2020 Werbeagentur Christian Aichner
 */
